.calculator_keys {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 50px;
    margin-left:25px;
}

.itemEquals {
    grid-row-start:2;
    grid-row-end:6;
    grid-column-start:4;     
}

.selected{
    transition: all 0.07s;
    background-color: green;
}