.calculator_keys {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 20px;    
}

.itemEquals {
    grid-row-start:2;
    grid-row-end:6;
    grid-column-start:4;   
    background-color: orange  
}

.selected{    
    background-color: rgba(58, 83, 155, 1)
}

.display{
    background-color: rgba(197, 239, 247, 1);
    font-size: x-large;
    padding: 2%;
}

.appTitle{
    text-align: center;
}

button{
    padding: 2rem;
}